## {{ step_name }}

{{ description }}

#### Script: [{{ script_basename }}]({{ script_path }}){% if specific_function %}: {{ specific_function }}{% endif %}

{% if input_files %}
### Input Files
{% for file in input_files %}
#### [{{ file.basename }}]({{ file.relative_path }})
{% if file.preview %}
<details><summary>Preview</summary>

{% if file.type == 'csv' %}
{{ file.preview }}
{% elif file.type == 'json' %}
```json
{{ file.preview }}
```
{% endif %}

</details>
{% endif %}
{% endfor %}
{% endif %}

{% if output_files %}
### Output Files
{% for file in output_files %}
#### [{{ file.basename }}]({{ file.relative_path }})
{% if file.preview %}
<details><summary>Preview</summary>

{{ file.preview }}
{% endif %}
</details>
{% endfor %}
{% endif %}

{% if output_url and output_url_name %}
### Output: [{{ output_url_name }}]({{ output_url }})
{% endif %}
